/* section{
   
    padding: 4rem 0;
    margin: 4rem 0;
}

@media screen and (max-width: 700px) {
    section{
        padding: 4rem ;
        margin: 4rem ;
    }
}
@media screen and (max-width: 550px) {
    section{
        padding: 4rem 2rem;
        margin: 4rem 2rem;
    }
} */
#home{
    padding: 0;
    margin-top: -71px;
}
.home-page{
    /* width: 796px;
    height: 702px; */
    Width: 996px;
    Height: 902px;
    /* margin-top: -71px; */
    gap: 0px;
    border-radius: 0px 0px 25px 0px;
    opacity: 0px;
    background: rgba(26, 83, 25, 0.2);


}

.home-page .head{
    color: rgba(255, 255, 255, 1);
    margin-top: 271px;
    margin-left: 193px

}
.head .h1{
    width: 176.21px;
    height: 30px;
    border-left: 3px solid rgba(26, 83, 25, 1);
}
.head .h1 h1{
    text-transform: uppercase;
    
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-left: 6px;
    /* top: 272px;
    left: 202.79px;
    gap: 0px;
    opacity: 0px; */

}
.head h2{
    width: 341.59px;
    height: 34px;
    top: 320px;
    font-family: Poppins;
    font-size: 26px;
    font-weight: 600;
    line-height: 39px;
    text-align: left;
}
.head p{
    width: 374.07px;
    height: 34px;
    margin-top: 56px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;


}
.head button{
    width: 196px;
    height: 33px;
    margin-top: 30px;
    padding: 5px 61px 4px 54px;
    gap: 0px;
    border-radius: 45px;
    border: 1px solid rgba(252, 252, 252, 1);
    background: rgba(124, 135, 97, 0.67);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    opacity: 0px;

}
.ratio{
    display: flex;
    justify-content: space-between;
    width: 474px;
    height: 67px;
    top: 65px;
    left: 169px;
    gap: 0px;
    
    opacity: 0px;

}
.ratio p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    color: rgba(214, 239, 216, 1);
    /* display:inline;
    float:left;
    width: 101px;
    height: 48px;
    left: 173px;
    border-right: 1px solid rgba(26, 83, 25, 1); */

}
.ratio .product{
    /* float: left; */
    width: 110px;
    height: 50px;
    border-right: 1px solid rgba(26, 83, 25, 1);
    

}
.ratio .gifts{
    width: 180px;
    height: 50px;
    left: 130px;
    border-right: 1px solid rgba(26, 83, 25, 1);
}
.ratio .customers{
    width: 160px;
    height: 50px;
    left: 316px;
    border-right: 1px solid rgba(26, 83, 25, 1);
}
.download{
    position: absolute;
    display: flex;
    /* width: 204px; */
    height: 65px;
    top: 837px;
    left: 201px;
}
.download .app-store, .google{
    width: 199px;
    height: 65px;
    gap: 0px;
    border-radius: 5px ;
    border: 2px solid rgba(26, 83, 25, 1);
    /* color: rgba(214, 239, 216, 1); */
    
    background: transparent;
    margin-right: 45px;
}
.download button p{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-left: 35px;
    margin-top: 6px;
}
.download .app-store span{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;

}
.download .app-store .apple{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 15px;
    left: 17px;
    gap: 0px;
    opacity: 0px;

}
/* .download .google{
    width: 199px;
    height: 65px;
    gap: 0px;
    border-radius: 5px ;
    border: 2px solid rgba(26, 83, 25, 1);
   
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background: transparent;
} */
.download .google span{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    

}
.download .google .google-play{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 13px;
    left: 260px;


}

.home-img {
    position: absolute;
    width: 451px;
    height: 358px;
    top: 308px;
    left: 732px;
    gap: 0px;
    border-radius: 25px 0px 0px 0px;
    opacity: 0px;


}